:root {
  --primary: #00caca;
  --secondary: #fe8e17;
  --tertiary: #f6c0ca;
  --quatrinary: #8ea5b7;
  --light: #fff;
  --dark: #0d4a6a;
}

/* Home Event Styles */
.home-event {
  background-color: var(--quatrinary);
  padding: 15px;
  margin: 10px 0;
  border-radius: var(--quatrinary);
  color: var(--light);
  text-align: center;
}
