:root {
    --primary: #00CACA;
    --secondary: #FE8E17;
    --tertiary: #F6C0CA;
    --quatrinary: #8EA5B7;
    --light: #fff;
    --dark: #0D4A6A;
  }

/* Body */
.body {
    background-color: var(--dark);
    font-family: 'Poppins', sans-serif;
}

/* Log In / Sign Up  */
.auth-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.auth-form h2 {
  color: var(--light);
  margin-bottom: 20px;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.form-div {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

.auth-form label {
  font-weight: bold;
  color: var(--light);
  margin-bottom: 5px;
}

.auth-form input {
  padding: 15px;
  background-color: var(--quatrinary);
  border: none;
  border-radius: 15px;
}

.form-feedback {
  color: var(--secondary);
}

.auth-form button {
  background-color: var(--secondary);
  color: var(--light);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.auth-form button:hover {
  background-color: #ff9e44;
}

.auth-form p {
  text-align: center;
  margin-top: 20px;
  color: var(--light);
}

.auth-form a {
  color: var(--secondary);
}

.auth-form a:hover {
  color: #ff9e44;
}

/* Event Page */


.eventhead {

  margin-top: 45px;
  color: var(--light);
  margin-bottom: 25px;
  
}


.event-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form .form-group {
  display: flex;
  flex-direction: column;
 margin-bottom: 10px;
}

.form-group label {
  display: block;
  flex: 1;
  font-weight: bold;
  color: var(--light);
  margin-bottom: 5px;
  width: 150px;
  margin-right: 10px;
  
}

.form-group input, .form-group textarea {
  padding: 15px;
  background-color: var(--quatrinary);
  border: none;
  border-radius: 15px;
  flex: 1;
  color: var(--light);
}


/* .event-form label {
  display: block;
  font-weight: bold;
  color: var(--light);
  margin-bottom: 5px;
}

.event-form textarea {
  padding: 15px;
  background-color: var(--quatrinary);
  border: none;
  border-radius: 15px;
}

.event-form input {

  padding: 15px;
  background-color: var(--quatrinary);
  border: none;
  border-radius: 15px;
}
*/
.event-desc-container {
  display: flex;
  justify-content: flex-end; /* Align form groups to the right */
}

.form-feedback {
  color: var(--secondary);
}

.btn.btn-primary {
  background-color: var(--secondary);
  color: var(--light);
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  width: 150px;
  font-weight: bold;
}

.btn.btn-primary:hover {
  background-color: #ff9e44;;
}

.btn.btn-primary:active {
  background-color: #ca7e36;;
}
.event-form button:hover {
  background-color: #ff9e44;
}

.event-form p {
  text-align: center;
  margin-top: 20px;
  color: var(--light);
}

.event-form a {
  color: var(--secondary);
}

.event-form a:hover {
  color: #ff9e44;
}

.eventdesc {
  position: absolute; 
  left: 0;
  top: 0;
  height: 500px;
  width: 500px; /* Adjust the width as needed */
  z-index: 2;
  
}

.eventdesc label {
  color: white;
  font-weight: bold;
}


.event-form .eventdesc textarea {
  width: 520px; 
  height: 351px; 
  resize: none; 
  background-color: var(--quatrinary);
  border: none; 
  border-radius: 15px;
  padding: 20px; 
  color: var(--light);
  position: absolute; 
  left: 0; 
  top: 0; 
}

/* Dashboard Styling */

.dashboard-heading {
  font-weight: bolder;
  color: var(--light);
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.no-events {
  color: var(--light);
  text-align: center;
  margin-top: 25px;
}