:root {
  --primary: #00caca;
  --secondary: #fe8e17;
  --tertiary: #f6c0ca;
  --quatrinary: #8ea5b7;
  --light: #fff;
  --dark: #0d4a6a;
}

/* Body */
.body {
  background-color: var(--dark);
  font-family: "Poppins", sans-serif;
}

/* Log In / Sign Up  */
.auth-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.auth-form h2 {
  color: var(--light);
  margin-bottom: 20px;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form label {
  font-weight: bold;
  color: var(--light);
  margin-bottom: 5px;
}

.auth-form input {
  padding: 15px;
  background-color: var(--quatrinary);
  border: none;
  border-radius: 15px;
}

.form-feedback {
  color: var(--secondary);
}

.auth-form button {
  background-color: var(--secondary);
  color: var(--light);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.auth-form button:hover {
  background-color: #ff9e44;
}

.auth-form p {
  text-align: center;
  margin-top: 20px;
  color: var(--light);
}

.auth-form a {
  color: var(--secondary);
}

.auth-form a:hover {
  color: #ff9e44;
}

/* Event Page */

.eventhead {
  margin-top: 45px;
  color: var(--light);
  margin-bottom: 25px;
}

.event-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  flex: 1;
  font-weight: bold;
  color: var(--light);
  margin-bottom: 5px;
  /* width: 150px; */
  margin-right: 10px;
}

.form-group input,
.form-group textarea {
  padding: 15px;
  background-color: var(--quatrinary);
  border: none;
  border-radius: 15px;
  flex: 1;
  color: var(--dark);
}

/* .event-form label {
  display: block;
  font-weight: bold;
  color: var(--light);
  margin-bottom: 5px;
}

.event-form textarea {
  padding: 15px;
  background-color: var(--quatrinary);
  border: none;
  border-radius: 15px;
}

.event-form input {

  padding: 15px;
  background-color: var(--quatrinary);
  border: none;
  border-radius: 15px;
}
*/
.event-desc-container {
  /* display: flex; */
  justify-content: flex-end; /* Align form groups to the right */
}

.form-feedback {
  color: var(--secondary);
}

.btn.btn-primary {
  margin-top: 10px;
  background-color: var(--secondary);
  color: var(--light);
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  font-weight: bold;
}

.btn.btn-primary:hover {
  background-color: #ff9e44;
}

.btn.btn-primary:active {
  background-color: #ca7e36;
}
.event-form button:hover {
  background-color: #ff9e44;
}

.event-form p {
  text-align: center;
  margin-top: 20px;
  color: var(--dark);
}

.event-form a {
  color: var(--secondary);
}

.event-form a:hover {
  color: #ff9e44;
}

.eventdesc {
  position: relative;
  left: 0;
  top: 0;
  /* height: 500px; */
  width: 500px;
  z-index: 2;
  /* padding-left: 15px; */
  padding-right: 15px;
}

.eventdesc label {
  margin-top: 10px;
  color: var(--light);
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.eventdesc textarea {
  width: 520px;
  height: 262px;
  resize: none;
  background-color: var(--quatrinary);
  border: none;
  border-radius: 15px;
  padding: 20px;
  color: var(--dark);
  left: 0;
  top: 0;
}

/* Dashboard Styling */

.dashboard-heading {
  font-weight: bolder;
  color: var(--light);
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.no-events {
  color: var(--light);
  text-align: center;
  margin-top: 25px;
}

/* @media (max-width: 991px) {
  .hidden-below-991 {
    display: none;
  }
} */

/* @media (min-width: 992px) {
  .hidden-above-991 {
    display: none;
  }
} */
