:root {
  --primary: #00CACA;
  --secondary: #FE8E17;
  --tertiary: #F6C0CA;
  --quatrinary: #8EA5B7;
  --light: #fff;
  --dark: #0D4A6A;
}

section {
  text-align: center;
  padding: 20px;
  color: var(--light);
  width: 100%;
}

/* Media Query for Desktop */
@media only screen and (min-width: 768px) {
  section {
    width: 60%;
    margin: 0 auto;
  }
}

/* Home Event Styles */
.home-event {
  background-color: var(--quatrinary);
  padding: 15px;
  margin: 10px 0;
  border-radius: var(--quatrinary);
  color: var(--light);
  text-align: center;
}