:root {
  --primary: #00caca;
  --secondary: #fe8e17;
  --tertiary: #f6c0ca;
  --quatrinary: #8ea5b7;
  --light: #fff;
  --dark: #0d4a6a;
}

section {
  text-align: center;
  padding: 20px;
  color: var(--light);
  width: 100%;
}

.home-heading {
  margin: 20px 0;
}